# Introduction to Python

In this exercise, we'll cover some basic concepts in Python while introducing Jupyter Notebook.

## Jupyter Notebook
We will use Jupyter Notebook to demonstrate some of the basics of Python programming. Jupyter Notebook provides an interactive user friendly way of writing, testing, and documenting code.

## Objects and Functions in Python

A lot of code follows the principal:

`function`(`object`)

A function is code that acts on an object.
Certain functions only work on certain objects (just like you can only make an omelette with eggs and make toast with bread).

Objects come in a variety of formats, but for now, we are just going to work with numbers. All whole numebrs are referred to as object type integers.

## The `print()` function

For our first code, we'll have Python output a message using the `print()` function (to execute code in the code boxes, type `shift+return`):

## Math

Python has 7 arithmetic operators: `+`, `-`, `*`, `/`, `**` (to the power of), `%` (modulus), `//` (floor division).

Python does math in a fairly intuitive way.

In [216]:
print (7 - 3)

4

Python is very particular about syntax. Copy the line of code above in the cell below, but remove the parentheses.

Using the print function, what is 1 divided by 2?

What is 2 times 3?

Let's try each of the operators and discover what they do:

Try some more complex math. Does Python follow conventional rules for presedence of mathematical operations?

Now write out the first code you wrote: `print(7 - 3)` but put quotes around `7-3`.

Instead of math, it returned the text that was in quotes. That is because your object is not being treated as an integer anymore. 

Now it is treating everything in the quotes as one item of text, which is a different type of object called a string.

Try printing the string `"Hello Word!"`

Try removing the quotes:

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2867060335.py, line 1)

Try changing the double quotes to single quotes:

Hello World!

Try printing a really really really long statement, longer than the space provided.

Hello World! What a great place to be! Oh boy, it is so good to be alive! I must have been sleeping a long, long time. Can you believe it? Ahhhhhhhhhhhhhhhhhhhhh

If we want the message to span multiple lines, we can use triple quotes `"""`:

In [27]:
print ("""Hello World!
What a great place to be!
Oh boy, it is so good to be alive!
I must have been sleeping a long, long time.
Can you believe it?""")

Hello World!
What a great place to be!
Oh boy, it is so good to be alive!
I must have been sleeping a long, long time.
Can you believe it?

Or we can add additional new lines in a `print()` statement using the regular expression for a new line (`\n`) (notice that by default the `print()` function adds a new line to the end of the output):

In [296]:
print("Don't worry\nabout a thing\ncuz every litte thing\nis going to be alright")

Don't worry
about a thing
cuz every litte thing
is going to be alright

## Commenting: toggle lines of code (testing) and adding descriptions
Any line preceded with a hashtag (#) will not be executed when the code is run (Python will ignore it). Adding comments to code is an essential practice for improving readability and maintainability. Well-commented code helps others (and your future self) understand the purpose of certain sections, the logic behind it, and any complex or non-obvious details.  Commenting out code can also useful when you're developing and testing a script.

Here's the earlier Python code snippet, with added comments to demonstrate good commenting practices (this would typically be considered excessive):

In [41]:
#prints the statement Hello World 

print ('Hello World!')

Hello World!
10
10

## Grammar/Syntax and Reading Your Code
For all code you write, whether you are a beginner or a pro, it is best to always follow these guidlines:

1. If you have an error, always assume first that it is a syntax error of some kind (misspelled something, did not close your parentheses, missing a comma, etc...). Read your code line by line, character by character forwards and backwards. Finding errors is a skill.

To make finding errors easier:

2. Put spaces in your code.
    * before and after every math operation symbol: `+`, `-`, `*`, `/`, `**` (to the power of), `%` (modulus), `//` (floor division).
    * between items separatede by a comma (for lists, which will be covered on Wednesday)
3. Put comments (`#`)  on your code.
4. Have line breaks between sets of code that perform separate operations.

There are more guidelines that can be advised, but these are foundational.

## Here is an example of poorly written code:

In [ ]:
def calculate_average(numbers):
    """Function to calculate the average of a list of numbers.
    :param numbers: List of numbers to calculate the average.
    :return: The average of the numbers or None if the list is empty.
    """
    print("Input numbers:",numbers)#Print the input to troubleshoot if the input is correctly passed
    if not numbers:#Check if the input list is empty, and return None if it is
        print("Error: No numbers provided.")#Inform the user of the error
        return None# Exit early to avoid division by zero
    #Calculate the sum of the numbers
    total=sum(numbers)
    print("Total sum of numbers:",total)#Verify that the sum is correct
    #Get the number of elements in the list
    count=len(numbers)
    print("Number of elements:",count)#Check if the length of the list is correct
    average=total/count #Compute the average
    print("Calculated average:",average)#Verify the final result before returning
    return average#Return the calculated average
# Example usage
numbers_list=[10,20,30,40]  # Example list of numbers
average_result=calculate_average(numbers_list)  # Call the function
print("Final average result:",average_result)  # Output the final result

And here is an example of well written code:

In [ ]:
def calculate_average(numbers):
    """
    Function to calculate the average of a list of numbers.

    :param numbers: List of numbers to calculate the average.
    :return: The average of the numbers or None if the list is empty.
    """

    # Print the input to troubleshoot if the input is correctly passed
    print("Input numbers:", numbers)

    # Check if the input list is empty, and return None if it is
    if not numbers:
        print("Error: No numbers provided.")
        return None

    # Calculate the sum of the numbers
    total = sum(numbers)
    print("Total sum of numbers:", total)

    # Get the number of elements in the list
    count = len(numbers)
    print("Number of elements:", count)

    # Compute the average
    average = total / count
    print("Calculated average:", average)

    return average


# Example usage
numbers_list = [10, 20, 30, 40]
average_result = calculate_average(numbers_list)
print("Final average result:", average_result)

# Values, variables, expressions, and statements

## Variables

So far I have shown that most code is:
`function(object)`

However, if we had a lot of long or complex objects, we would want a way to simplify it, a placeholder for the large object, which is where variables come in.

We could also have `function(variable)` where a variable is a reference for an object.

Before you use a variable in a function, you must first assign the variable to an object
`variable = object`

Try assigning a variable x to a numeric value.

Try returning the variable in quotes using the `print()` function:

If you followed the syntax used for the the `print()` function in the earlier example, you probably got exactly what you entered as the output. What happens if you remove the quotes?

Now assign x to a different numeric value. use `print()` to return the value

Now print a mathematical expression where you add something to x

Assign a number to a new variable called y. Write a 3rd variable z as `z = x + y`. Then print z.

## Objects
We have now seen examples of two types of objects: integers and strings. As demonstrated using the **`print()`** function, these two types of objects are interpreted differently. Strings, which are just sequences of characters, such as `Hello, world!`, have the designation **`str`**. Integers, which are of course whole numbers, are one type of numerical value of type **`int`**. Floating-point numbers (numbers containing a decimal point) belong to a second type called **`float`**. Numbers, both **`int`** and **`float`** type, can be treated as strings but strings cannot be treated as numbers, as demonstrated below using the **`print()`** function.

In [ ]:
Try to multiply, subtract, or divide strings together

In [132]:
#print("A" * "B")
#print ("AB" - "B")
#print("A" / "C")

TypeError: can't multiply sequence by non-int of type 'str'

While strings cannot be treated as numbers, there are some interesting operations that can be done with them:

Try adding two strings together.
Try multiplying a string by a number

boosegoose

## Booleans 
There are many other types of objects we will cover. One of the last basic object types is a boolean **`bool`**. Booleans are a binary object type, having only two values, `True` or `False`. Booleans are valuable for evaluating expressions and controlling/keeping track of iterative functions (more on that later). Keep in mind, using a binary object can be problematic if you are using it for non-binary scenarios (e.g. only show me data that is TRUE for having a value of 1).

We can evaluate something as true or false by using `==` (meaning equal to), `!=` (not equal to), `>=`, `<=`, `>`, and `<`.

Evaluate X  with all of these expressions (example shown below)

In [151]:
x = 7

x == 7 #this is not treated as a variable assignment, but as a boolean expression. X equals 7, this is true

True

## Variables Names

Variables can be assigned numbers (either **`int`** or **`float`**) or strings (**`str`**). While we have so far used x to assign variable names, we can make the variable any name we want. For example, we can assign a sequence of As, Cs, Ts, and Gs to a variable `seq` as follows (recall that variables are assigned with the syntax `variable_name = value`):

In [ ]:
seq = 'ATGAGCC'

### Variable naming conventions

Variable names can be just about anything in Python but they cannot start with a number or have spaces or special characters (underscores are ok). It is best to give variables descriptive names and use lowercase letters, in particular the first letter should be lowercase (also note that variable names are case sensitive so rrna is not the same as rRNA). And although it is permissible, it is not wise to give a variable the same name as a function (such as `print`) and Python has ~30 special kewords that are off limits:

*It is good practice to define your variables at the beginning of your scripts, rather than as they come up in your code.*

`False	class	   finally	is	      return
None 	continue	for	    lambda	  try
True	 def	     from   	nonlocal	while
and	  del    	 global     not  	   with
as	   elif	    if  	   or      	yield
assert   else	    import	 pass	    break
except   in	      raise	`

It is best to use variable names that are descriptive to make the code more interpretable (but be careful to avoid keywords and function names):

In [ ]:
x = 'ATGTGTCA' # not very informative
seq = 'ATGTGTCA' # informative at least to a biologist
seq1 = 'ATGTGTCA' # may be useful in distinguising multiple seqeuence-based variables
1seq = 'ATGTGTCA' # not permissable as a variable name can't start with a number
SEQ = 'ATGTGTCA' # permissable but not advisable as at least the first letter of a variable name should be lowercase
seq new = 'ATGTGTCA' # not permissable as a variable names can't contain spaces
seq-new = 'ATGTGTCA' # not permissable as special characters are not allowed
seq_new = 'ATGTGTCA' # use underscores in place of spaces
class = 'DNA' # not allowable as class is a keyword
max = 30 # permissable but not advisable as max is the name of a function which would be overwritten.
min = 10 # permissable but not advisable as min is also the name of a function which would be overwritten.

Because we are assigning a string of DNA to the variable seq, as with the print() function, the value has to be in quotes. What if we were assigning a number to the variable seq?

Things start to get a little bit tricky. If we include quotes around a number, than it becomes a string and a string no longer has a numerical value. So even though the variable seq may appear to be a number, it will depend on if it was assigned with or without quotes.

677

When assinging a number without quotes to a variable, if we include a decimal point, Python will assign float as the type by default, but if we exlude a decimal point, by deault it will be an int.

The `type()` function allows us to identify the type of an object, such as a variable:

int

Assign a number to a variable (no quotes):

Use the variable in a math operation:

TypeError: can only concatenate str (not "int") to str

Now try assigning a number to a variable (with quotes):

Try multiplying the variable by 5:

In [ ]:
Try adding the variable to itself:

Commas are not permissible in numbers. For example, 1,000 will not mean what you expect it to:

In [229]:
n = 1,000 + 5
print(n)

(1, 5)

This is an example of a semantic error - valid code that doesn't do what you intended it to do. In contrast, as we've already seen many times, sytax errors are generated by invalid code and produce an error message.

## Debugging with `print()`
The `print()` function is useful for returning information (from a math operation, or a series of variable manipulations).

It is also very useful for testing and debugging code. `print()` statements can be introduced anywhere in your code to test if the code is progressing to a particular point and to confirm that variable and data structures contain the expected content.  For example, if your script is generating an error message but you're unsure why, or the output of your code is not what you're expecting, embedding `print()` statements at the appropriate places in your code can help you troubleshoot.

In [242]:
#assigning variabels

a=7
b=6
c=b+a
c=b*7-5
print(c)
c=a
print(c)
print("so far so good")  #for the avoidance of doubt
print(A-3)
print("also good")

37
7
so far so good

NameError: name 'A' is not defined

## Using `print()` with combinations of strings and variables

We can print strings, we can print math, we can print numbers as part of strings. 

We can print strings and variables together.

Create a variable `x` assigned to an object of your choosing (string, integer, float). We want to print a statement where instead of x, we see the object you assigned to it. There are several ways to do this, but we will use **`f-strings`**.

F-strings have the syntax: `print(f"string {x}")` where the word string is replaced by a string object and x is your variable.

e.g. 

`who = you`

`print(f"We must feed {who} if you are hungry.")`

returns: `We must feed you if you are hungry.`

Print the following statement: `Your sequence is x` using an f-string, such that x is replaced with the assigned object.

## Indexing
Indexing allows us to retrieve a specific parts of strings (and other items such as lists and dictionaries which will be covered on Wednesday). Indexing is very useful for retreiving, storing (as a new variable), or modifying an item.

We index by listing the variable followed by `[ ]` where a numer is placed inside the brackets corresponding to the position of the item you are trying to retrieve.

e.g.

`a="sadhkjsahdlhlihwoehfouwehfiuwebiuve"`

`a[3]`

Below we have a variable `alphabet`. How do we retrieve the first letter A using indexing?

In [312]:
alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"

'A'

In python, indexing starts at 0, so `alphabet[0]` will return 'A' while `alphabet[1]` will return 'B'. 

Imagine it as 0_A_1_B_2_C_3_D_4_E_5_F

The number to the left corresponds to the letter on the right.

How would we get the last letter?

'Z'

You can also index in reverse if you like:

In [334]:
print(alphabet[-1]) #reverse indexing 0_A_-1_Z_-2_Y_-3_x ...

Z

Indexing can be very hard without knowing the length of a string. We can also use the `len()` function to find out how long our item is.

In [319]:
len(alphabet)

26

We can also use indexing to obtain a series of numbers, or a pattern of numbers using semicolons.

The syntax goes:

`variable[#:#:#]`

1st number is your starting position (if left blank, assumes the 0 position)

2nd number is your ending position (if left blank, assumes the final position)

3rd number is the pattern (every single number, every second, every third, every fourth, etc...) if left blank, assumes 1

Return every letter in the alphabet

'ABCDEFGHIJKLMNOPQRSTUVWXY'

When indexing a range, note that the indexing would be ...24_Y_25_Z_26.    If you end the range at 25, it does not include the number at position 25.

Return the first three letters of the alphabet

'ABC'

Return every other letter of the alphabet starting from A

'ACEGIKMOQSUWY'

In [357]:
#You can also write these shorthanded:

print(alphabet)
print(alphabet[:3])
print(alphabet[::2])

ABCDEFGHIJKLMNOPQRSTUVWXYZ
ABC
ACEGIKMOQSUWY

## The `input()` function

Python's input function, `input()`, allows you to collect input from a user and then perform actions on that input:

In [298]:
input()

 pretzel king

'pretzel king'

Not particularly useful on its own, but the input can also be stored as a variable or directly incorporated into a function.

Try storing the input function as a variable. It will ask you for input:

 boop

Now print the user input using the print() function:

boop

It is useful to provide instructions, a prompt, when requesting input so the user knows what to do. The input function  makes providing a prompt easy. Simply include the prompt within quotes within the perentheses of the input function (e.g. `input("prompt")`):

In [306]:
name = input("What is your name? ")
print(f"Hello, {name}")

What is your name?  owl

Hello, owl

By default, `input()` assigns whatever is input to the type `str`.  Try prompting for a number using `input()`, store the number as variable and compute the inverse of the number:

Pick a number 7

Your number is 7

Fortunately, we can reassign a value to a differnt type. For example, we can convert type str to type int using int('string') (of course this will only work if the string is an integer):

Inputs can also be places in f-strings, not just variables.

In [ ]:
print(f"hello, {input('enter your name: ')}")